body {
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
    background: #0a0a0a;
    color: white;
    overflow-x: hidden;
    overflow-y: auto;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 8%;
    background: rgba(10,10,10,0.8);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

/* NAVBAR */
.navbar {
    position: fixed;

    top: 0;
    left: 0;
    right: 10%;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 24px 0;

    z-index: 1000;

    background: rgba(10,10,10,0.55);

    backdrop-filter: blur(14px);

    border-bottom:
        1px solid rgba(255,255,255,0.05);
}

/* MENU BUTTON */
.menu-btn {
    position: fixed;

    top: 30px;
    right: 40px;

    width: 32px;
    height: 24px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    cursor: pointer;

    z-index: 2000;
}

.menu-btn span {
    width: 100%;
    height: 3px;

    background: white;

    border-radius: 10px;

    transition: 0.4s ease;
}

/* MENU ACTIVE ANIMATION */
.menu-btn.active span:nth-child(1) {
    transform:
        rotate(45deg)
        translateY(10px);
}

.menu-btn.active span:nth-child(2) {
    opacity: 0;
}

.menu-btn.active span:nth-child(3) {
    transform:
        rotate(-45deg)
        translateY(-10px);
}

/* OVERLAY MENU */
.overlay-menu {
    position: fixed;

    top: 0;
    right: -100%;

    width: 100%;
    height: 100vh;

    background:
        rgba(10,10,10,0.96);

    backdrop-filter: blur(16px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 40px;

    transition: 0.6s cubic-bezier(0.77, 0, 0.175, 1);

    z-index: 1500;
}

/* OPEN */
.overlay-menu.active {
    right: 0;
}

/* LINKS */
.overlay-menu a {
    color: white;
    text-decoration: none;

    position: relative;

    font-size: 42px;
    font-weight: 600;
    letter-spacing: -1px;
    
    opacity: 0;

    transform: translateY(30px);

    transition:
        opacity 0.25s ease,
        transform 0.25s ease;
}

/* ACTIVE */
.overlay-menu.active a {
    opacity: 1;
    transform: translateY(0);
}

/* STAGGER */
.overlay-menu.active a:nth-child(1) {
    transition-delay: 0.1s;
}

.overlay-menu.active a:nth-child(2) {
    transition-delay: 0.2s;
}

.overlay-menu.active a:nth-child(3) {
    transition-delay: 0.3s;
}

.overlay-menu.active a:nth-child(4) {
    transition-delay: 0.4s;
}

.overlay-menu.active a:nth-child(5) {
    transition-delay: 0.5s;
}

/* LOGO */
.logo {
    position: absolute;
    left: 1%;

    font-size: 14px;
    font-weight: 700;

    letter-spacing: 2px;
}

/* NAV LINKS */
.nav-links {
    display: flex;
    gap: 50px;
}

/* LINKS */
.nav-links a {
    color: #cfcfcf;

    text-decoration: none;

    font-size: 15px;
    font-weight: 500;

    position: relative;

    transition: 0.3s ease;
}

/* HOVER */
.overlay-menu a:hover {
    transform: translateX(10px);
    color: #cfcfcf;
}
.nav-links a:hover {
    color: white;
}

/* UNDERLINE EFFECT */
.nav-links a::after {
    content: "";

    position: absolute;

    left: 0;
    bottom: -8px;

    width: 0%;
    height: 2px;

    background: white;

    transition: 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

/* HERO */
.hero {

    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 40px;
    overflow: hidden;
    background:
        linear-gradient(
            rgba(0,0,0,0.75),
            rgba(0,0,0,0.85)
        ),

        url("hero.jpg");
}



/* GLASS PANEL */
.glass {
    background: rgba(255,255,255,0.04);
    border: 1px solid rgba(255,255,255,0.08);


    backdrop-filter: blur(12px);

    padding: 60px;
    border-radius: 28px;

    max-width: 850px;

    box-shadow:
        0 10px 40px rgba(0,0,0,0.4),
        inset 0 1px 0 rgba(255,255,255,0.04);
}

/* HERO TEXT */
.hero h1 {
    font-size: clamp(32px, 7vw, 46px);
    line-height: 1.1;
    letter-spacing: -0.5px;
    font-weight: 700;
    width: 100%;
    max-width: 700px;
    margin-bottom: 24px;
}

.hero-text {

    font-size: 18px;

    line-height: 1.8;

    color: #b5b5b5;

    max-width: 600px;
}

.hero-subtitle {

    font-size: 13px;

    letter-spacing: 4px;

    text-transform: uppercase;

    color: #8d8d8d;

    margin-bottom: 22px;
}

.hero-inner {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;

}

.hero-content {

    width: 100%;
    max-width: 760px;
}

.hero-title {

    font-size: clamp(58px, 7vw, 84px);

    line-height: 0.95;

    letter-spacing: -3px;

    font-weight: 700;

    margin-bottom: 28px;

    color: white;
}



h1 {
    font-size: 40px;
}

p {
    color: #aaa;
    line-height: 1.6;
    font-size: 16px;
}

/* BUTTON */
.btn {
    margin-top: 40px;

    padding: 18px 36px;

    background: linear-gradient(135deg, #4f4f4f, #9a9a9a);

    border: none;
    border-radius: 100px;

    color: white;

    font-size: 16px;
    font-weight: 600;

    cursor: pointer;

    transition: 0.3s ease;

    box-shadow:
        0 10px 30px rgba(255,255,255,0.08);
}

.btn:hover {
    transform: translateY(-4px) scale(1.02);

    box-shadow:
        0 20px 40px rgba(255,255,255,0.12);
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;

    margin-top: 50px;
}

.card {
    background: linear-gradient(
        180deg,
        rgba(255,255,255,0.05),
        rgba(255,255,255,0.02)
    );

    border: 1px solid rgba(255,255,255,0.06);
    padding: 40px;
    border-radius: 24px;

    opacity: 0;
    transform: translateY(40px);

    transition:
        opacity 0.8s ease,
        transform 0.8s ease;

    backdrop-filter: blur(10px);
}

.card.show {
    opacity: 1;
    transform: translateY(0);
}

.card:nth-child(2) {
    transition-delay: 0.15s;
}

.card:nth-child(3) {
    transition-delay: 0.3s;
}

.card:hover {
    transform: translateY(-10px);

    border-color: rgba(255,255,255,0.18);

    box-shadow:
        0 20px 50px rgba(0,0,0,0.35);
}

/* QUIZ */
.quiz-container {
    max-width: 500px;
    margin: auto;
    text-align: center;
}
.quiz-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: none;
    
    align-items: center;
    justify-content: center;

    background: #0a0a0a;
    z-index: 9999;
}
.thank-you {
    display: none;
    text-align: center;
}

.thank-you.show {
    display: block;
}

.step {
    position: absolute;
    width: 100%;
    opacity: 0;
    transform: translateX(50px);
    transition: 0.4s ease;
}

.step.active {
    opacity: 1;
    transform: translateX(0);
    position: relative;
}

button {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    background: #1a1a1a;
    color: white;
    border: none;
}

input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    background: #111;
    border: 1px solid #333;
    color: white;
}

/* PROGRESS */
.progress-bar {
    height: 6px;
    background: #222;
    margin-bottom: 20px;
}

.progress {
    height: 100%;
    width: 0%;
    background: #aaa;
}

/* ANIMATION */
.fade-up {
    opacity: 0;
    transform: translateY(70px) scale(0.98);

    transition:
        opacity 1.2s cubic-bezier(0.16, 1, 0.3, 1),
        transform 1.2s cubic-bezier(0.16, 1, 0.3, 1);
}

.fade-up.show {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.hero::before {
    content: "";

    position: absolute;

    inset: 0;

    background:
        radial-gradient(
            circle at top right,
            rgba(255,255,255,0.08),
            transparent 30%
        );

    pointer-events: none;
}

.section-header {
    text-align: center;
    margin-bottom: 70px;
}

.section-tag {
    font-size: 30px;
    font-weight: 600;
    color: #888;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.section-header h2 {
    font-size: 50px;
    line-height: 1.1;

    display: inline-block;

    position: relative;
}

.section-header h2::after {
    content: "";

    position: absolute;

    left: 50%;
    transform: translateX(-50%);

    bottom: -14px;

    width: 60%;
    height: 4px;

    border-radius: 20px;

    background: linear-gradient(
        90deg,
        rgba(255,255,255,0),
        rgba(255,255,255,0.7),
        rgba(255,255,255,0)
    );
}

.page-hero {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 120px 8%;
}

/* FOOTER */
.footer {
    padding: 140px 24px 80px;

    border-top:
        1px solid rgba(255,255,255,0.06);

    background:
        linear-gradient(
            180deg,
            rgba(255,255,255,0.02),
            rgba(255,255,255,0.01)
        );
}

/* CONTENT */
.footer-content {
    max-width: 900px;
    margin: auto;

    text-align: center;
}

/* TITLE */
.footer h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

/* TEXT */
.footer-text {
    color: #9f9f9f;

    line-height: 1.8;

    max-width: 700px;

    margin:
        0 auto
        50px;
}

/* LINKS */
.footer-links {
    display: flex;
    justify-content: center;
    gap: 30px;

    flex-wrap: wrap;
}

/* LINK STYLE */
.footer-links a {
    color: white;

    text-decoration: none;

    padding: 16px 24px;

    border-radius: 18px;

    background:
        rgba(255,255,255,0.04);

    border:
        1px solid rgba(255,255,255,0.06);

    backdrop-filter: blur(10px);

    transition: 0.3s ease;
}

/* HOVER */
.footer-links a:hover {
    transform: translateY(-6px);

    background:
        rgba(255,255,255,0.08);

    border-color:
        rgba(255,255,255,0.16);
}

/* =========================
   MOBILE OPTIMIZATION
========================= */

@media (max-width: 768px) {

    /* HERO */
    .hero {
        padding: 140px 22px 80px;
        min-height: auto;
        align-items: center;
    }

    .hero-content {
        width: 100%;
        max-width: 100%;
        padding: 32px 24px;
        margin: 0 auto;
    }

    .hero-title {

        font-size: 48px;

        line-height: 1;

        letter-spacing: -2px;

        margin-bottom: 24px;
    }

    


    .glass {
        padding: 35px 24px;
        border-radius: 22px;
    }

    .hero h1 {
        font-size: 48px;
        line-height: 1;
        letter-spacing: -2px;
        max-width: 100%;
        margin-bottom: 24px;
        word-break: keep-all;
    }

    .hero-text {
        font-size: 16px;
        line-height: 1.7;
        max-width: 100%;
    }

    .hero-subtitle {
        font-size: 12px;
        letter-spacing: 3px;
    }

    /* BUTTON */
    .btn {
        width: 100%;
        text-align: center;
    }

    /* SECTIONS */
    section {
        padding: 100px 24px;
    }

    /* TITLES */
    .section-header h2 {
        font-size: 38px;
    }

    /* GRID */
    .grid {
        grid-template-columns: 1fr;
    }

    /* CARD */
    .card {
        padding: 30px;
    }

    /* MENU */
    .overlay-menu a {
        font-size: 32px;
    }

    /* QUIZ */
    .quiz-wrapper {
        width: 100%;
        padding: 20px;
    }

    .quiz-container {
        width: 100%;
    }

    .quiz-container h2 {
        font-size: 28px;
    }

    .quiz-container button {
        padding: 18px;
    }

    input {
        font-size: 16px;
    }

    .footer {
        padding: 100px 24px 60px;
        text-align: center;
    }

    .footer-content {

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

     .footer h2 {
        font-size: 36px;
    }

    .footer-links {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 18px;
    }

    .footer-links a {
        width: 100%;
        max-width: 320px;
        text-align: center;
    }

}